 @model MovieTicketBookingManagementWeb.Models.Cinema
<h2>Product Details</h2>
<div>
    <h4>Id: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Location: @Model.Location</h4>
</div>
<a asp-action="Index">Back to List</a>